<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poem and IP Info</title>
        <link rel="stylesheet" href="static\css\index.css">
    </head>
    <body>
        <div class="container">

            <div class="left">
                <div class="poem-line">AI generated poem:</div>
                <hr style="border:1px solid #555;">
                <div class="poem-line">In the <span class="red-word">silence</span> of the night,</div>
                <div class="poem-line">The <span class="red-word">moon</span> whispers soft delight.</div>
                <div class="poem-line">Shadows <span class="red-word">dance</span> upon the floor,</div>
                <div class="poem-line">Dreams of <span class="red-word">hope</span> forevermore.</div>
                <div class="poem-line">Hearts <span class="red-word">burn</span> with quiet fire,</div>
                <div class="poem-line">Yearning <span class="red-word">love</span>, our true desire.</div>
            </div>

            <div class="right">
                <h2>Your fricking IP address is:</h1>
                <p class="red-word">{{ geodata['ip'] }}</p>

                <h2>You live in freaking:</h2>
                <p class="red-word">{{ geodata['city'] }}</p>

                <h2>In the freaking region:</h2>
                <p class="red-word">{{ geodata['region'] }}</p>

                <h2>In the freaking country:</h2>
                <p class="red-word">{{ geodata['country'] }}</p>

                <h2>Your freaking coordinates are:</h2>
                <p class="red-word">{{ geodata['location'] }}</p>

                <h2>Your freaking ISP is:</h2>
                <p class="red-word">{{ geodata['isp'] }}</p>

                <h2>Your freaking timezone is:</h2>
                <p class="red-word">{{ geodata['timezone'] }}</p>

                <hr style="border:1px solid #555;">

                <h4>RESOURCES</h4>
                <p>
                    <a href="https://github.com/jimmydin7/poetlog">Our Open Source Github Repository</a><br>
                    <a href="buymeacoffee.com/jimmydin7">Donate <3></a><br>
                </p>
            </div>
        </div>


    </body>
</html>
