<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poem and IP Info</title>
    <link rel="stylesheet" href="templates\static\index.css">
</head>
<body>
    <div class="container">

        <div class="left">
            <div class="poem-line">In the <span class="red-word">silence</span> of the night,</div>
            <div class="poem-line">The <span class="red-word">moon</span> whispers soft delight.</div>
            <div class="poem-line">Shadows <span class="red-word">dance</span> upon the floor,</div>
            <div class="poem-line">Dreams of <span class="red-word">hope</span> forevermore.</div>
            <div class="poem-line">Hearts <span class="red-word">burn</span> with quiet fire,</div>
            <div class="poem-line">Yearning <span class="red-word">love</span>, our true desire.</div>
        </div>


        <div class="right">
            <h1>Your fricking IPv6 address is:</h1>
            <p>2a02:586:451a:d600:714f:9452:29f7:9d96</p>

            <h1>Your fricking host name is:</h1>
            <p>2a02:586:451a:d600:714f:9452:29f7:9d96</p>

            <h3>Geographic location of your fricking IPv6 address:</h3>
            <p>Marousi, I, Greece</p>

            <h1>Your fricking IPv4 address is:</h1>
            <p>2.86.220.107</p>

            <h1>Your fricking IPv4 hostname is:</h1>
            <p>2.86.220.107</p>

            <h3>Geographic location of your fricking IPv4 address:</h3>
            <p>Marousi, I, Greece</p>


            <hr style="border:1px solid #555;">

            <h4>RESOURCES</h4>
            <p>
                <a href="#">Our Fricking Privacy Policy</a><br>
                <a href="#">Our Open Source Github Repository</a><br>
            </p>
        </div>
    </div>
</body>
</html>
